---
# comment for jekyll
---
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  padding: 2em;
  box-sizing: border-box;
  font-family: -apple-system, Arial, sans-serif;
}

.grow {
  flex-grow: 1;
  font-size: 5vw;
}
